set timeout=8
menuentry "ShrimpOS" { linux /live/vmlinuz boot=live components; initrd /live/initrd.img; }
menuentry "ShrimpOS Safe Mode" { linux /live/vmlinuz boot=live components shrimp.safe=1; initrd /live/initrd.img; }
